.board {
  background: #AD9D8F;
  width: max-content;
  height: max-content;
  margin: auto;
  position: relative;
  border-width: 10%;
}

.resetBtn {
  text-align: center;
  padding: 50px;
}

.header {
  text-align: center;
}